*{
    box-sizing: border-box;
}

body{
    font-family: "Karla", sans-serif;
    margin: 0;
}

.nav{
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.nav--logo{
    height: 100%;
    margin-right: 10px;
}

.nav--title{
    font-weight: bold;
    font-size: large;
}

.nav--item{
    margin-left: 70%;
    font-weight: bold;
}

.form{
    padding: 100px
}

.meme{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--button{
    grid-column: 1/-1;
    font-family: "Karla", sans-serif;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    border-color: white;
}

.meme--input{
    font-family: "Karla", sans-serif;
    text-indent: 5px;
    border-radius: 10px;
}

.form--memeImage{
    max-width: 100%;
    align-items: center;
    margin-top: 20px;
}

.meme--topText{
    position: relative;
    bottom: 350px;
    color: white;
}

.meme--bottomText{
    position: relative;
    bottom: 110px;
    color: white
}